name: CI + CD - Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/docker-swarm-practice:latest \
            -t ${{ secrets.DOCKER_USERNAME }}/docker-swarm-practice:${{ github.sha }} \
            -f app/Dockerfile app

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/docker-swarm-practice:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/docker-swarm-practice:${{ github.sha }}
